{% extends 'base.html' %}

{% block title %}
    Detail Peminjaman Kendaraan
{% endblock %}

{% block content %}
<br />
<div class="row">
    <div class="col m12">
        <span style="font-size: 20px; font-weight: normal; color:#666666;">Detail Peminjaman Kendaraan</span>
        <a class="right waves-effect waves-light btn-flat" href="#modal1">
            <i class="large material-icons">delete</i>
        </a>
        <a class="right waves-effect waves-teal btn-flat" href="{% url 'peminjamanEditForm' peminjaman.id %}">
            <i class="large material-icons">mode_edit</i>
        </a>
        <a class="right waves-effect waves-teal btn-flat" href="{% url 'export_peminjaman_form' peminjaman.id %}">
            <i class="large material-icons">print</i>
        </a>

        <p>
            {% if peminjaman.status == 0 %}
                <strong>Status:</strong> Belum Transfer
            {% else %}
                {% if peminjaman.status == 1 %}
                    <strong>Status:</strong> Sudah Transfer
                {% else %}
                    {% if peminjaman.status == 2 %}
                        <strong>Status:</strong> Sudah Selesai
                    {% else %}
                        <strong>Status:</strong> Dibatalkan
                    {% endif %}
                {% endif %}
            {% endif %}
        </p>

        <p>
            <strong>Nama Peminjam:</strong> {{ peminjaman.nama_peminjam }} <br />
            <strong>No Telp. Peminjam:</strong> {{ peminjaman.no_telp_peminjam }} <br />
            <strong>Bagian/Jurusan:</strong> {{ peminjaman.bagian_jurusan_peminjam }} <br />
        </p>
        <p>
            <strong>Kendaraan:</strong>
            <ol>
            {% for daftar_mobil in mobilpeminjaman %}
                <li> {{ daftar_mobil.mobil.nama }} {{ daftar_mobil.mobil.no_polisi }} </li>
                {% if daftar_mobil.odometer_sebelum is not None %}
                    <p>
                        <strong>Odometer Sebelum:</strong> {{ daftar_mobil.odometer_sebelum|floatformat:0 }} km<br />
                {% endif %}
                {% if daftar_mobil.odometer_sesudah is not None %}
                        <strong>Odometer Sebelum:</strong> {{ daftar_mobil.odometer_sesudah|floatformat:0 }} km<br />
                    </p>
                {% endif %}
            {% endfor %}
            </ol>
        </p>
        <p>
            <strong>Acara:</strong> {{ peminjaman.acara }} <br />
            <strong>Tujuan:</strong> {{ peminjaman.tujuan }} <br />
            <strong>Asal:</strong> {{ peminjaman.tempat_berkumpul }} <br />
            <strong>Keterangan:</strong> {{ peminjaman.keterangan }}
        </p>
        <p>
            <strong>Tanggal Booking:</strong> {{ peminjaman.tanggal_booking_formatted }} <br />
            <strong>Tanggal Pemakaian:</strong> {{ peminjaman.tanggal_pemakaian_formatted }} <br />
            <strong>Tanggal Pengembalian:</strong> {{ peminjaman.tanggal_pengembalian_formatted }} <br />
            <strong>Waktu Berangkat:</strong> {{ peminjaman.waktu_berangkat }} <br />
            <strong>Waktu Datang:</strong> {{ peminjaman.waktu_datang }}
        </p>

        <p>
            <strong>Odometer Sebelum:</strong> {{ peminjaman.odometer_sebelum }} <br />
            <strong>Odometer Sesudah:</strong> {{ peminjaman.odometer_sesudah }}
        </p>

        <p>
            <strong>No Surat Pemohon:</strong> {{ peminjaman.no_surat }} <br />
            <strong>Tanggal Surat Pemohon:</strong> {{ peminjaman.tanggal_surat_formatted }}  <br />
        </p>

        {% load humanize %}
        <p>
            <strong>Biaya Perawatan:</strong> Rp. {{ peminjaman.biaya_perawatan|intcomma }} <br />
            <strong>Biaya BBM:</strong> Rp. {{ peminjaman.biaya_bbm|intcomma }}  <br />
            <strong>Biaya Supir:</strong> Rp. {{ peminjaman.biaya_supir|intcomma }}  <br />
            <strong>Biaya Tol:</strong> Rp. {{ peminjaman.biaya_tol|intcomma }}  <br />
            <strong>Biaya Parkir:</strong> Rp. {{ peminjaman.biaya_parkir|intcomma }}  <br />
            <strong>Biaya Penginapan:</strong> Rp. {{ peminjaman.biaya_penginapan|intcomma }}  <br />
            <strong>Biaya Total:</strong> Rp. {{ peminjaman.getTotalBiaya|intcomma }}  <br />
        </p>
    </div>
    <button class="btn waves-effect waves-light" style="background-color: #1D73BE; margin-top: 40px;" onclick="location.href='{% url 'peminjamanFormFinal' peminjaman.id %}'" name="action">
            Isi Form Final
    </button>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
<div class="modal-content">
  <h4>Delete this peminjaman?</h4>
  <p>Are you sure you want to delete this peminjaman?</p>
</div>
<div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" href="{% url 'peminjamanDelete' peminjaman.id %}" title="Delete">
        Delete
    </a>
</div>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('#navbar-menu-peminjaman').addClass('active')
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
{% endblock %}
