{% extends 'base.html' %}

<!-- Load Static -->
{% load static %}

{% block title %}
    Daftar Supir
{% endblock %}

{% block content %}
    <br />
    <div class="row">
      <div class="col m12 s12">
        <h5>Daftar Supir</h5>
      </div>
      {% if user.is_authenticated %}
      <div class="col m12 s12">
        <a class="waves-effect waves-light btn right" href="{% url 'supirForm' %}" style="background-color: #1D73BE;">+ New</a>
      </div>
      {% endif %}
    </div>

    <div class="row">
        {% if all_supir %}
            <table class="striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>No Telepon</th>
                        <th></th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for supir in all_supir %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{supir.nama}}</td>
                            <td>{{supir.no_telepon}}</td>
                            <td>
                                    <a class="btn waves-effect waves-light right" href="{% url 'download_driver_report' supir.id %}" style="background-color: #26a69a;" name="action">Export Excel</a>
                                <a class="right waves-effect waves-teal btn-flat" href="{% url 'supirEditForm' supir.id %}" title="Edit">
                                    <i class="large material-icons">mode_edit</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No Supir are available.</p>
        {% endif %}
    </div>
</div>
<style>
td {
    height: 14px;
}
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('#navbar-menu-supir').addClass('active')
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
{% endblock %}
