{% extends 'base.html' %}

{% block title %}Tata Cara Peminjaman{% endblock %}

{% block content %}
<br />
<div class="row">
  <div class="col m12">
    <h5>Tata Cara Peminjaman Kendaraan</h5>
    <hr>
    <br>
    <table> 
      <tr>
        <td> 
          <h5>Prosedur Peminjaman </h5>
        </td>
        <td>
          {% if user.is_authenticated %}
            <a class="right waves-effect waves-teal btn-flat" href="{% url 'tatacaraEditForm' %}" title="Edit">
              <i class="large material-icons">mode_edit</i>
           </a>
          {% endif %}
        </td>
      </tr>
    </table>
    {{tata_cara|linebreaks}}
    <br>
	<a class="btn waves-effect waves-light" style="background-color: #1D73BE; margin-top: 40px;" href="/static/form_booking_kendaraan.pdf" name="action">
            Booking
    </a>
  </div>
</div>
{% endblock %}

{% block script %}
<script>

  $('#navbar-menu-tatacara').addClass('active')

SV08
  window.onload = function() {
  };
  

  }

master
</script>
{% endblock %}
