{% extends 'base.html' %}

{% block title %}
Detail Kendaraan
{% endblock %}

{% block content %}
<br />
<div class="row">
    <div class="col m12">
        <span style="font-size: 24px; font-weight: normal;">Detail Kendaraan</span>
        {% if user.is_authenticated %}
            <!-- <a class="right waves-effect waves-light btn-flat" href="#modal1">
                <i class="large material-icons">delete</i>
            </a> -->
            <a class="right waves-effect waves-teal btn-flat" href="{% url 'kendaraanEditForm' kendaraan.id %}" title="Edit">
                <i class="large material-icons">mode_edit</i>
            </a>
        {% endif %}
    </div>

    <div class="col m12">
        <p><strong>Nama:</strong> {{ kendaraan.nama }}</p>
        <p><strong>No Polisi:</strong> {{ kendaraan.no_polisi }}</p>
        <p><strong>Kapasitas:</strong> {{ kendaraan.kapasitas }} seat</p>
        <p><strong>Jenis:</strong> {{ kendaraan.jenis }}</p>
        <p><strong>Supir:</strong> {{ supir.nama }}</p>
        <br />
        <h6><strong>Foto</strong></h6>
        {% if all_foto %}
            <div class="row">
                {% for foto in all_foto %}
                    <div class="col m3">
                        <img class="materialboxed" width="200" height="200" src="{{ foto.foto.url }}">
                        {% if user.is_authenticated %}
                            <h7 class="center-align"><a href="{% url 'kendaraanDeleteFoto' kendaraan.id foto.id  %}">Delete this photo</a></h7>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No picture for this kendaraan.</p>
        {% endif %}
        {% if user.is_authenticated %}

        <div class="file-field input-field" style="margin-top:0px;">
          <a onclick="downloadCarReport()" class="btn waves-effect waves-light right" style="background-color: #26a69a;" name="action">Export Excel</a>
        </div>

        <form action="{% url 'kendaraanUploadFoto' kendaraan.id %}" enctype="multipart/form-data" method="post" class="right">
            {% csrf_token %}
            <div class="file-field input-field col s12" style="margin-top:0px;">
              <div class="btn" style="background-color: #1D73BE;">
                <span>Upload Foto Baru</span>
                <input type="file" name="foto" id="foto">
              </div>
              <div id="foto_path" class="file-path-wrapper" style="display: none;">
                <input class="file-path validate" type="text">
              </div>
            </div>
              <button id="foto_submit" class="btn waves-effect waves-light right" style="background-color: #1D73BE; display: none;" type="submit" name="action">Save
              </button>
        </form>
        {% endif %}
    </div>
</div>
<!-- Modal Structure -->
<!-- <div id="modal1" class="modal">
<div class="modal-content">
  <h4>Delete this kendaraan?</h4>
  <p>Are you sure you want to delete this kendaraan?</p>
</div>
<div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" href="" title="Delete">
        Delete
    </a>
</div>
</div> -->
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('#navbar-menu-kendaraan').addClass('active')
     $(document).ready(function(){
        $('.materialboxed').materialbox();
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
      });

    $('#foto').change(function() {
        console.log($('#foto').val())
        $('#foto_path').show()
        $('#foto_submit').show()
    })

    function downloadCarReport() {
      console.log('{{ kendaraan.nama }}');
      window.location='/download_car_report/'+ '{{ kendaraan.id }}';
    }
</script>
{% endblock %}
