{% extends 'base.html' %}

<!-- Load Static -->
{% load static %}

{% block title %}
    Daftar Kendaraan
{% endblock %}

{% block content %}
<br />
<div class="row">
    <div class="col m12">
        <div class="col m12">
            <h5>Daftar Kendaraan
            </h5>
            {% if user.is_authenticated %}
                <a class="waves-effect waves-light btn right" href="{% url 'kendaraanForm' %}" style="background-color: #1D73BE;">+ New</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% if all_kendaraan %}
            {% for kendaraan in all_kendaraan %}
                    <div class="col m4 s4">
                      <div class="card">
                        <div class="card-image">
                            <div class="w3-content w3-display-container" width="300" height="300">
                                {% for f in foto %}
                                    {% if f.id == kendaraan.id %}
                                        <a href="{% url 'kendaraanDetail' kendaraan.id %}" class="blue-text">
                                            {% if f.count > 0 %}
                                                    {% for photo in f.foto %}
                                                        <img class="materialbox" width="300" height="300" src="{{ photo.foto.url }}">                 
                                                    {% endfor %}
                                            {% else %}
                                                <img src="{% static 'peminjaman/image/default.png' %}">
                                            {% endif %}
                                        </a>
                                    {% else %}

                                    {% endif %}
                                {% endfor %}
                              <!-- <img src="{% static 'peminjaman/image/default.png' %}"> -->
                              <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                              <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                          </div>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                              <span class=""><strong>{{kendaraan.nama}}</strong></span>
                              <p>Nopol: {{kendaraan.no_polisi}}<br />
                              Jenis: {{kendaraan.jenis}}<br />
                              Kapasitas: {{kendaraan.kapasitas}} seat</p>
                            </div>
                            <div class="card-action">
                              <a href="{% url 'kendaraanDetail' kendaraan.id %}" class="blue-text">Detail</a>
                            </div>
                        </div>
                      </div>
                    </div>
            {% endfor %}
        {% else %}
            <p>No Kendaraan are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('#navbar-menu-kendaraan').addClass('active')

    var slideIndex = 1;
    showDivs(slideIndex);
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("materialbox");
      if (n > x.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
</script>
{% endblock %}
