{% extends 'base.html' %}

<!-- Load Static -->
{% load static %}

{% block title %}
    Daftar Kendaraan
{% endblock %}

{% block content %}
    <br />
    <div class="row">
      <div class="col m12 s12">
        <h5>Daftar Kendaraan</h5>
      </div>
      {% if user.is_authenticated %}
      <div class="col m12 s12">
        <a class="waves-effect waves-light btn right" href="{% url 'kendaraanForm' %}" style="background-color: #1D73BE;">+ New</a>
      </div>
      {% endif %}
    </div>

    <div class="row">
        {% if all_kendaraan %}
            {% for kendaraan in all_kendaraan %}
                <div class="col m4 s12">
                  <div class="card kendaraan-mobile">
                    <div class="card-image">
                        <div class="w3-content w3-display-container" width="300" height="300">
                            {% for f in foto %}
                                {% if f.id == kendaraan.id %}
                                    <a href="{% url 'kendaraanDetail' kendaraan.id %}" class="blue-text">
                                        {% if f.count > 0 %}
                                                {% for photo in f.foto %}
                                                    {% if forloop.counter == 1 %}
                                                        <img class="materialbox_{{forloop.parentloop.counter}}" width="300" height="300" src="{{ photo.foto.url }}" >                 
                                                    {% else %}
                                                        <img class="materialbox_{{forloop.parentloop.counter}}" width="300" height="300" src="{{ photo.foto.url }}" style="display:none">
                                                    {% endif %}
                                                {% endfor %}
                                        {% else %}
                                            <img width="300" height="300" src="{% static 'peminjaman/image/default.png' %}">
                                        {% endif %}
                                    </a>
                                {% else %}

                                {% endif %}
                            {% endfor %}
                          <!-- <img src="{% static 'peminjaman/image/default.png' %}"> -->
                          <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, {{forloop.counter}})">&#10094;</button>
                          <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, {{forloop.counter}})">&#10095;</button>
                      </div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content" style="min-height:200px;">
                          <span class=""><strong>{{kendaraan.nama}}</strong></span>
                          <p>Nopol: {{kendaraan.no_polisi}}<br />
                          Jenis: {{kendaraan.jenis}}<br />
                          Kapasitas: {{kendaraan.kapasitas}} seat</p>
                        </div>
                        <div class="card-action">
                          <a href="{% url 'kendaraanDetail' kendaraan.id %}" class="blue-text">Detail</a>
                        </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No Kendaraan are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('#navbar-menu-kendaraan').addClass('active')

    var slideIndex = 1;
    function showDivs(n, loop) {
      var i;
      var x = document.getElementsByClassName("materialbox_" + loop);
      if (n > x.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
    function plusDivs(n, loop) {
      showDivs(slideIndex += n, loop);
    }
    
</script>
{% endblock %}
